<!DOCTYPE html>
<html>
<h1>Movies List</h1>
<table class="Movies List">
    <thead>
    <tr>
        <th>Title</th>
        <th>Genre</th>
        <th>Year</th>
    </tr>
    </thead>
    <tbody>
<% moviesList.forEach((m) => { %>
<tr>
    <td><%= m.title %></td>
        <td> <%= m.genre %> </td>`
        <td> <%= m.year %> </td>
</tr>
<% }); %>
    </tbody>
</table>
</html>


